{% load staticfiles %}
{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ app_header }}</title>
  {% block css %}
    <link href="{% static 'assets/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css" media="all"/>
  {% endblock %}
</head>
<body>

{% include 'base/navbar.html' %}

<div class="container-fluid col-lg-offset-2 main">
  <div class="row">
    {% include 'base/sidebar.html' %}
    {% block login %}{% endblock %}
    {% block home %}
      {% block inner %}{% endblock%}
    {% endblock %}
  </div>
</div>
{% include 'base/footer.html' %}
{% block js %}
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="{% static 'assets/bootstrap/bootstrap.min.js' %}"></script>
{% endblock %}
{% block additionaljs %}{% endblock %}
</body>
</html>