{% load staticfiles %}
{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel='shortcut icon' href='{% static 'img/favicon.ico' %}' type='image/x-icon'
  / >
  <title>{{ app_header }}</title>
  {% block css %}
    <link rel="manifest" href="/static/assets/push-notifications/app/manifest.json">
    <link href="{% static 'assets/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
  {% endblock %}
</head>
<body>

{% include 'base/navbar.html' %}

<div class="container-fluid">
  <div class="row">
      {% block login %}{% endblock %}
      {% block home %}
        {% block inner %}{% endblock%}
      {% endblock %}
  </div>
</div>

{% include 'base/footer.html' %}
{% block js %}
  <script src="{% static 'assets/jquery/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'assets/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/push-notifications/app/js/main.js' %}"></script>
{% endblock %}
</body>
</html>