{% extends 'base/base_page.html' %}
{% load static %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/changeChart.js' %}"></script>
{% endblock %}

{% block menu %}
  {% include 'base/menu.html' %}
{% endblock %}

{% block inner %}
  <div class="col-lg-9 col-md-8 col-sm-12">
    {% block event_table %}{% endblock %}
    <div class="visible-md visible-lg">
      <div class="text-center">
        <div class="btn-group">
          <a data-v="0" class="btn btn-success {% if number_chart == '0' %}active{% endif %}">Pie</a>
          <a data-v="1" class="btn btn-primary {% if number_chart == '1'%}active{% endif %}">Range</a>
          <a data-v="-1" class="btn btn-info {% if number_chart == '-1' %}active{% endif %}">None</a>
      </div>
      {% if number_chart == '0'%}
        {% include 'home/pie_chart.html' %}
      {% elif number_chart == '1' %}
        {% include 'home/range_chart.html' %}
      {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12">
    {% include 'partials/daily_words.html' %}
  </div>
{% endblock %}
