{% extends 'home/content.html' %}

{% block event_table %}
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
    <li><a href="#notices" data-toggle="tab">Notices</a></li>
  </ul>
  <div style="margin-top: 5px;" class="tab-content">
    <div class="tab-pane fade active in" id="tasks">
      <div class="panel panel-default">
        <div class="panel-heading">
          Active events<br/>
          {% block message %}{% endblock %}
        </div>
        <div class="table-responsive">
          <table class=" table table-bordered table-hover table-striped">
            {% if tasks %}
              <thead>
              <tr>
                <th><strong>#</strong></th>
                <th>Name</th>
                <th>Start</th>
                <th>Notice</th>
                <th>Range</th>
              </tr>
              </thead>
              <tbody>
              {% for object in tasks %}
                <tr {% if object.start <= object.time_now and object.end >= object.time_now %}
                  style="background-color: #bce8f1"
                {% endif %} >
                  <td><strong>{{ forloop.counter }}.</strong></td>
                  <td><a style="color: black" href="#" data-toggle="modal"
                         data-target="#my{{ object.id }}">{{ object.name }}</a></td>
                  <td>{{ object.start }}</td>
                  <td><i>{{ object.time_notice }}</i></td>
                  <td>{{ object.length }} мин.</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td class="text-center">Empty.</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="visible-md visible-lg">
        <div class="text-center">
          <div class="btn-group">
            <a data-v="0" class="btn btn-default {% if number_chart == '0' %}active{% endif %}">Pie</a>
            <a data-v="1" class="btn btn-primary {% if number_chart == '1' %}active{% endif %}">Range</a>
            <a data-v="-1" class="btn btn-danger {% if number_chart == '-1' %}active{% endif %}">None</a>
          </div>
          {% if number_chart == '0' %}
            {% include 'home/pie_chart.html' %}
          {% elif number_chart == '1' %}
            {% include 'home/range_chart.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="notices">
      {% for notice in notices %}
        <div class="well well-sm">
          <p><b>{{ notice.name }}</b></p>
          <p>{{ notice.description }}</p>
        </div>
      {% empty %}
        <p class="text-center lead text-info">Empty.</p>
      {% endfor %}
    </div>
  </div>
  {% for object in tasks %}
    {% include 'home/modal_description.html' %}
  {% endfor %}

{% endblock %}
