{% extends 'home/struct.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/datepicker/css/pignose.calendar.css' %}">
{% endblock %}

{% block event_table %}
  <div class="form-inline col-md-offset-8 col-sm-offset-8 col-xs-offset-8">
    <input type="text" onclick="calendar()" class="form-control input-calendar pull-right" value="{{ required_date }}">
  </div>

  <ul class="nav nav-tabs" id="myTabs">
    <li {% if tab == 'tasks' or not tab %} class="active" {% endif %}><a href="#tasks" data-toggle="pill">Tasks</a></li>
    <li {% if tab == 'notices' %} class="active" {% endif %}><a href="#notices" data-toggle="pill">Notices</a></li>
  </ul>
  <div style="margin-top: 5px;" class="tab-content">
    <div class="tab-pane fade {% if tab == 'tasks' or not tab %} active in {% endif %}"
    " id="tasks">
      <div class="panel panel-default">
        <div class="panel-heading">
          Active events
          {% block message %}{% endblock %}
        </div>
        <div class="table-responsive">
          <table class=" table table-bordered table-hover table-striped">
            {% if tasks %}
              <thead>
              <tr>
                <th><strong>#</strong></th>
                <th>Name</th>
                <th>Start</th>
                <th>Notice</th>
                <th>Range</th>
              </tr>
              </thead>
              <tbody>
              {% for object in tasks %}
                <tr {% if object.start <= object.time_now and object.end >= object.time_now %}
                  style="background-color: #bce8f1"
                {% endif %} >
                  <td><strong>{{ forloop.counter }}.</strong></td>
                  <td><a style="color: black" href="#" data-toggle="modal"
                         data-target="#my{{ object.id }}">{{ object.name }}</a></td>
                  <td>{{ object.start }}</td>
                  <td><i>{{ object.time_notice }}</i></td>
                  <td>{{ object.length }} мин.</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td class="text-center">Empty.</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="visible-md visible-lg">
        <div class="text-center">
          <div class="btn-group">
            <a data-v="0" class="btn btn-info {% if number_chart == '0' %}active{% endif %}">Pie</a>
            <a data-v="1" class="btn btn-info {% if number_chart == '1' %}active{% endif %}">Range</a>
            <a data-v="-1" class="btn btn-info {% if number_chart == '-1' %}active{% endif %}">None</a>
          </div>
          {% if number_chart == '0' %}
            {% include 'home/pie_chart.html' %}
          {% elif number_chart == '1' %}
            {% include 'home/range_chart.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  <div class="tab-pane fade {% if tab == 'notices' %} active in {% endif %}" id="notices">
      {% for notice in notices %}
        <div class="well well-sm">
          <p>
            <b>{{ notice.name }}</b>
            <span class="pull-right">
              {% csrf_token %}
              <a href='{% url 'home:current' %}/?tab=notices'
                 onclick='DoPost("{% url 'home:delete_event' notice.id %}")'><span class="small" style="color:darkgray">Delete</span></a>
              <span style="color:darkgray"> | </span>
              <a href="{% url 'home:change_event' notice.id %}?next={% url 'home:current' %}/?tab=notices"><span
                      class="small" style="color:darkgray">Edit</span></a>
            </span>
          </p>
          <pre>{{ notice.description|urlizetrunc:15 }}</pre>
        </div>
      {% empty %}
        <p class="text-center lead text-info">Empty.</p>
      {% endfor %}
    </div>
  </div>
  {% for object in tasks %}
    {% include 'home/modal_description.html' %}
  {% endfor %}

{% endblock %}
{% block js %}
  {{ block.super }}
  <script>
    function DoPost(url) {
      console.log(url);
      $.post(url, {'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()});
      location.reload();
    }
  </script>
  <script>
    $(function () {
      a = $("a[rel=nofollow]");
      a.text("click here");
      a.attr({style: "font-size:12px; color:indigo"});
    })
  </script>
  <script src="{% static 'assets/datepicker/js/moment.min.js' %}"></script>
  <script src="{% static 'assets/datepicker/js/pignose.calendar.min.js' %}"></script>
  <script type="text/javascript">
      $('.input-calendar').pignoseCalendar({
          theme: 'dark',
          format: 'DD.MM.YYYY',
          buttons: true,
          apply: function () {
              window.location.href = window.location.href.replace(/[\?#].*|$/, '?date=' + $('.input-calendar').val())
          }
      });

  </script>
{% endblock %}