{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/amcharts/css/export.css' %}" type="text/css" media="all"/>
{% endblock %}

<div id="chartdiv"></div>

{% block js %}
  <script src="{% static 'assets/amcharts/js/amcharts.js' %}"></script>
  <script src="{% static 'assets/amcharts/js/pie.js' %}"></script>
  <script src="{% static 'assets/amcharts/js/export.min.js' %}"></script>
  <script src="{% static 'assets/amcharts/js/light.js' %}"></script>
{% endblock %}

{% block additionaljs %}
  <script>
    var chart = AmCharts.makeChart("chartdiv", {
      "sequencedAnimation": false,
      "type": "pie",
      "theme": "light",
      "dataProvider": [
        {% for object in tasks %}
          {
            "task": "{{ object.name }}",
            "length": {{ object.length }}
          },
        {% endfor %}

      ],
      "valueField": "length",
      "titleField": "task",
      "balloon": {
        "fixedPosition": true
      },
      "export": {
        "enabled": true
      }
    });
  </script>
{% endblock %}