{% load static %}
{% block css %}
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
{% endblock %}

<div id="chartdiv"></div>

{% block js %}
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="{% static 'assets/amcharts/js/serial.js' %}"></script>
  <script src="{% static 'assets/amcharts/js/gantt.js' %}"></script>
  <script src="{% static 'assets/amcharts/js/light.js' %}"></script>
  <script src="{% static 'assets/amcharts/js/export.min.js' %}"></script>
{% endblock %}


{% block additionaljs %}
  <script>
    AmCharts.useUTC = true;
    var chart = AmCharts.makeChart("chartdiv", {
      "type": "gantt",
      "theme": "Light",
      "marginRight": 70,
      "period": "mm",
      "dataDateFormat": "YYYY-MM-DD",
      "balloonDateFormat": "JJ:NN",
      "columnWidth": 0.5,
      "valueAxis": {
        "type": "date",
        "minimum": 360,
        "maximum": 1440
      },
      "brightnessStep": 10,
      "graph": {
        "fillAlphas": 1,
        "balloonText": "<b>[[task]]</b>: [[open]]<br><b>Продолжительность</b> - [[duration]]"
      },
      "rotate": true,
      "categoryField": "category",
      "segmentsField": "segments",
      "colorField": "color",
      "startDate": "{{ date }}",
      "startField": "start",
      "endField": "end",
      "durationField": "duration",
      "dataProvider": [
        {% for object in table %}
          {
            "category": "{{ object.name }}",
            "segments": [{
              "start": {{ object.start_minutes }},
              "duration": {{ object.length  }},
              "color": "{{ object.color }}",
              "task": "{{ object.name }}"
            }]

          },
        {% endfor %}
      ],
      "valueScrollbar": {
        "autoGridCount": true
      },
      "chartCursor": {
        "cursorColor": "#55bb76",
        "valueBalloonsEnabled": true,
        "cursorAlpha": 0,
        "valueLineAlpha": 0.5,
        "valueLineBalloonEnabled": true,
        "valueLineEnabled": true,
        "zoomable": false,
        "valueZoomable": true
      },
      "export": {
        "enabled": true
      }
    });
  </script>
{% endblock %}