/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}

* {
   font-size: 16px;
   line-height: 1;
}

table {
  width: 100%;
  border-collapse:separate;
}
.input-calendar {
    width: 100%;
}

