{% extends 'base/base_page.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/datepicker/css/pignose.calendar.css' %}">


{% endblock %}

{% block inner %}
  <div class="col-lg-9">
    {% include 'add_event/form.html' %}
  </div><br>
  <div class="col-lg-3">
    {% include 'add_event/objects.html' %}
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'assets/datepicker/js/moment.min.js' %}"></script>
  <script src="{% static 'assets/datepicker/js/pignose.calendar.min.js' %}"></script>
  <script src="{% static 'assets/maskedinput/jquery.maskedinput.min.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      $('.input-calendar').pignoseCalendar({
        theme: 'dark',
      });
    });
  </script>
  <script>
    $(function() {
      //задание заполнителя с помощью параметра placeholder
      $(".time").mask("99:99:99", {placeholder: "HH:MM:SS" });
    });
  </script>
{% endblock %}