<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div>
      {% if forloop.counter <= 2 %}

        {% if field.errors %}
          <p class="text-muted">{{ field.errors.as_text }}</p>
        {% endif %}
        {% if field.help_text %}
          <p class="text-info">{{ field.help_text|safe }}</p>
        {% endif %}
        <p>{{ field }}</p>
      {% endif %}
    </div>
  {% endfor %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#collapse-group" href="#el1">Options</a>
      </h4>
    </div>
    <div id="el1" class="panel-collapse collapse">
      <div class="panel-body">
        {% for field in form %}
          {% if forloop.counter > 2 %}
            {% if field.errors %}
              <p class="text-muted">{{ field.errors.as_text }}</p>
            {% endif %}
            {% if field.help_text %}
              <p class="text-info">{{ field.help_text|safe }}</p>
            {% endif %}
            <p>{{ field }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-lg btn-primary center-block btn-block">Save</button>
</form>

