{% load static %}
<div class="list-group pre-scrollable whole-table">
  <table class="table table-striped table-hover">
    {% for event in all_events %}
        <tr>
          <td><a style="color:darkslategray" href="{% url 'home:change_event' event.pk %}">{{ event.name }}</a></td>
          <td>
            <form method="post" action="{% url 'home:delete_event' event.pk %}">
            {% csrf_token %}
              <input type="image" src="{% static 'img/delete.png' %}" align="right" width="20px;" alt="Submit Form"/>
            </form>
          </td>
        </tr>
    {% empty %}
      <tr>
        <td style="color:darkslategray">There are nothing.</td>
      </tr>
    {% endfor %}
  </table>
</div>

<style>
  .whole-table {
    overflow-y: auto;
    height: auto;
    max-height: 440px;
    border: 2px solid antiquewhite;
  }
</style>