{% extends 'base/base_page.html' %}

{% block login %}
    <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <form role="form" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            <h2>Авторизация</h2>
            <input type="text" name="username" id="username" class="form-control" placeholder="Логин" required=""
                   autofocus="">
            <input type="password" name="password" id="password" class="form-control" placeholder="Пароль" required="">

            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}

            <button class="btn  btn-primary btn-block" type="submit">Вход</button>
        </form>
    </div>
{% endblock %}